h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

p {
  font-family: 'Oswald', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
}

.home {
  width: 100%;
  padding-top: 14vh;
}

.background {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  color: black;
}

.backgroundInformation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;
  width: 50%;
  height: 100%;
}

.backgroundImage {
  width: 50%;
  height: 100%;
  background: url('https://assets.tmcontent.com/i/30/21707/MatthewWolffTaylorMade4~W2000_H1184_P50-50.jpg');
  background-position: top right;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@media (max-width: 900px) {
  .backgroundImage {
    background-position: center;
    background-size: auto 100%;
  }
}

@media (max-width: 640px) {
  .backgroundImage {
    background-position: 45%;
  }
}


#backgroundInformationTitle {
  font-size: 1.5vw;
  font-weight: 600;
  height: 20%;
  align-items: center;
}

@media (max-width: 756px) {
  #backgroundInformationTitle {
      font-size: 2vw;
  }
}
@media (max-width: 669px) {
  #backgroundInformationTitle {
    font-size: 2.3vh;
  }
}

@media (max-width: 590px) {
  .backgroundInformation {
    justify-content: center;
    align-items: center;
  }
  #backgroundInformationTitle {
    font-size: 2.3vh;
    max-width: 90%;
  }
}

#backgroundInformationDescription {
  font-weight: 400;
  height: 60%;
  display: flex;
  align-items: center;
}

#backgroundInformationTitle, #backgroundInformationDescription {
  width: 80%;
  padding-left: 10%;
  color: black;
  display: flex;
}

#backgroundInformationDescription {
  width: 70% !important;
}

@media (max-width: 523px) {
  .background {
    flex-direction: column;
  }
  .backgroundInformation {
    height: 70%;
    width: 100%;
    padding-bottom: 1%;
  }

  .backgroundImage {
    width: 100%;
    height: 30%;
    background-size: 100% auto;
  }

}

@media (max-width: 962px) {
  #backgroundInformationDescription {
    font-size: 0.9em;
  }
}

@media (max-width: 769px) {
  #backgroundInformationDescription {
    font-size: 0.8em;
  }
}

@media (max-width: 670px) {
  #backgroundInformationDescription, #backgroundInformationTitle {
    text-align: center;
    padding-left: 0;
    width: 100% !important;
    justify-content: center;
  }
  #backgroundInformationDescription p {
    max-width: 95%;
  }
}

@media (max-width: 523px) {
  #backgroundInformationDescription p {
    width: 80%;
  }

  #backgroundInformationDescription {
    font-size: 0.9em;
  }
}

@media (max-width: 430px) {
  #backgroundInformationDescription p {
    width: 90%;
  }
}

@media (max-width: 523px) {
  #backgroundInformationDescription p {
    font-size: 1em;
  }
}

@media (max-width: 380px) {
  #backgroundInformationDescription {
    font-size: 0.85em;
  }

  #backgroundInformationTitle {
    height: 14%;
  }
}

.clubGridBox {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.clubTitle, .clubDescription {
  color: black;
  margin-left: 10%;
}

.clubTitle {
  width: 45%;
  min-height: 15%;
  display: flex;
  align-items: center;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.clubDescription {
  width: 50%;
  min-height: 60%;
  display: flex;
  align-items: flex-start;
  line-height: 1.5em;
}

.ironStoryHeader {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ironStoryHeader h2 {
  padding-bottom: 0.5%;
  border-bottom: solid rgb(231, 231, 231) 4px;
  border-radius: 5px 5px;
}

@media (max-width: 488px) {
  .ironStoryHeader {
    text-align: center;
  }
}

.ironButtons {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  padding-left: 10%;
}

.ironButtons a {
  text-decoration: none;
  height: 100%;
  width: 24%;
  transition: background 0.5s;
  transition: color 0.8s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;
}

.ironButton {
  font-size: 1.2em;
  border: solid rgb(121, 120, 120) 2px;
  border-radius: 5px 5px;
  background: none;
  height: 100%;
  width: 100%;
}

.ironButton:hover {
  background: black;
  border: none;
  cursor: pointer;
}

.ironButton a {
  color: black;
  transition: color 0.5s;
}

.ironButton:hover a {
  color: white;
}

@media (max-width: 669px) {
  .ironButtons {
    padding-left: 0;
    width: 100%;
    justify-content: space-around;
  }
  .ironButton {
    width: 23%;
  }
}

@media (max-width: 523px) {
  .backgroundInformation {
    align-items: center;
  }
  .ironButtons {
    padding-left: 0;
    width: 80%;
    justify-content: space-around;

  }
  .ironButton {
    width: 24%;
  }
}

